<app-toolbar></app-toolbar>
<app-crud-toolbar class="d-flex" titlePage="Pesquisa de Falecidos" routerNovo="../cadfalecidos" (clickE)="findCustom()" (clickLimpar)="clearInputs()"></app-crud-toolbar>
<app-filter-visible (FilterE)="visibleFilter($event)" ></app-filter-visible>

<form id="form_FFalecido" class="form_SGC" *ngIf="Filter">
      <div class="row mb-1">
        <div class="col-md-5">
          <div class="form-outline">
            <label class="form-label" for="form6Example1">Nome</label>
            <input type="text" id="name_Falecido" class="form-control" [(ngModel)]="nomePessoa" name="nomePessoa"/>

          </div>
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-md-3">
          <div class="form-outline">
            <label class="form-label" for="form6Example1">Nascimento</label>
            <input type="date"  id="form6Example1" class="form-control" [(ngModel)]="dateNasc" name="dateNasc"/>

          </div>
        </div>
        <div class="col-md-2">
          <div class="form-outline">
            <label class="form-label" for="inputSexo">Sexo</label>
            <select id="inputSexo" class="form-control" [(ngModel)]="sexoPessoa" name="sexoPessoa">
              <option selected></option>
              <option>Masculino</option>
              <option>Feminino</option>
            </select>

          </div>
        </div>
      </div>
</form>
      <app-table-pessoa [colunasTable]="colunasName" class="d-flex" [dadosCols]="dadosCols" (idLinha)="retornaIdUrl($event)"></app-table-pessoa>
