<h5>Pesquisa de Cemiterios</h5>
<div>
    <span class="d-flex justify-content-center">Ocultar Filtros</span>
</div>

<form id="form_FCemiterio" class="form_SGC">

    <div class="row mb-1">
        <div class="col-md-2">
            <div class="form-outline">
                <label class="form-label" for="cod_Cemiterio">Codigo</label>
                <input type="text" id="cod_Cemiterio" class="form-control" />

            </div>
        </div>

    </div>
    <div class="row mb-1">
        <div class="col-md-5">
            <div class="form-outline">
                <label class="form-label" for="name_Cemiterio">Nome</label>
                <input type="text" id="name_Cemiterio" class="form-control" />

            </div>
        </div>
    </div>
    
    <div class="row mb-1">
        <div class="col-md-5">
            <div class="form-outline">
                <label class="form-label" for="name_Responsavel">Responsavel</label>
                <input type="text" id="name_Responsavel" class="form-control" />

            </div>
        </div>

    </div>
    <div class="row mb-1">
        <div class="col-md-3">
            <div class="form-outline">
                <label class="form-label" for="name_Cidade">Cidade</label>
                <input type="text" id="name_Cidade" class="form-control" />

            </div>
        </div>
        <div class="col-md-2">
            <div class="form-outline">
                <label class="form-label" for="state_Cemiterio">Estado</label>
                

            </div>
        </div>
    </div>
    
<div >
    <app-table class="d-flex" [colunasTable]="colunasName"></app-table>
</div>
        
    

</form>

