<app-toolbar></app-toolbar>
<app-crud-relatorios class="d-flex my-2" (clickE)="geraRelatorio()"
                     titlePage="Listagem de Sepulturas Analitico"></app-crud-relatorios>
<div class="d-flex flex-column px-2">
  <div class="d-flex">
    <label for="relGerar">Relatorio a gerar:</label>
    <select name="relGerar" id="relGerar" class="selects custom-select">
      <option value="">Listagem de Sepulturas Analitico</option>
    </select>

  </div>
  <div class="d-flex my-2">
    <div>
      <label for="formatRel">Formato a gerar : </label>
      <select name="formatRel" id="formatRel" class="selects custom-select">
        <option value="">PDF (Portable Document Format)</option>
      </select>
    </div>

    <div class="mx-5">
      <input type="checkbox" class="custom-control-input mx-lg-1" id="geraNewAba" [(ngModel)]="geraNovaAba" checked>
      <label class="custom-control-label" for="geraNewAba">Gerar em nova aba</label>
    </div>
  </div>
  <div class="d-flex flex-column px-2 filter">
    <legend>Filtros</legend>
    <div class="d-flex m-2">
      <label for="sepulturaRel">Sepultura :</label>
      <input type="text" class="selects" id="sepulturaRel" [(ngModel)]="filterSepultura">
    </div>
    <div class="d-flex m-2">
      <label for="cemiterioRel">Cemiterio :</label>
      <select name="cemiterioRel" id="cemiterioRel" class="selects custom-select" [(ngModel)]="filterCemiterio">
        <option value=""></option>
        <option *ngFor="let nameCemiterio of listCemiterios"> {{nameCemiterio.undnome}} </option>
      </select>
<!--      <input type="text" class="selects custom-select" [(ngModel)]="filterCemiterio">-->
    </div>
  </div>
</div>

