<app-toolbar ></app-toolbar>
<app-crud-toolbar-cad titlePage="Cadastro de Sepulturas" class="d-flex"></app-crud-toolbar-cad>

<form id="form_CSepultura" class="form_SGC">

    <div class="row mb-1">
      <div class="col-md-2">
        <div class="form-outline">
          <label class="form-label" for="cod_Sepultura">Codigo</label>
          <input type="text" id="cod_Sepultura" class="form-control" disabled />

        </div>
      </div>

    </div>

    <div class="row mb-1">
      <div class="col-md-3">
        <div class="form-outline">
          <label class="form-label" for="desc_Sepultura">Nome</label>
          <input type="text" id="desc_Sepultura" class="form-control" />

        </div>
      </div>
      <div class="col-md-2">
        <div class="form-outline">
          <label class="form-label" for="name_Cemiterio">Cemiterio</label>
          <select id="name_Cemiterio" class="form-control" >
            <option> </option>
          </select>
        </div>
      </div>
    </div>
</form>
