<app-toolbar></app-toolbar>
<app-crud-toolbar class="d-flex my-2" titlePage="Pesquisa de Cemiterios" routerNovo="../cadcemiterios"
                  (clickE)="findUndCustom()" (clickLimpar)="limparInput()"></app-crud-toolbar>
<app-filter-visible (FilterE)="recebeFilter($event)"></app-filter-visible>

<form id="form_FCemiterio" class="form_SGC" *ngIf="Filter">

  <div class="row mb-1">
    <div class="col-md-2">
      <div class="form-outline">
        <label class="form-label" for="cod_Cemiterio">Codigo</label>
        <input type="text" id="cod_Cemiterio" class="form-control" name="cod_Cemiterio" [(ngModel)]="cod_Cemiterio"/>

      </div>
    </div>

  </div>
  <div class="row mb-1">
    <div class="col-md-5 ">
      <div class="form-outline ">
        <label class="form-label" for="name_Cemiterio">Nome</label>
        <input type="text" id="name_Cemiterio" class="form-control" name="nome_Cemiterio" [(ngModel)]="name_Cemiterio"/>
      </div>
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-md-5">
      <div class="form-outline">
        <label class="form-label" for="name_Responsavel">Responsavel</label>
        <input type="text" id="name_Responsavel" class="form-control" name="resp_Cemiterio"
               [(ngModel)]="resp_Cemiterio"/>

      </div>
    </div>

  </div>
</form>

<!--<button (click)="testePath(12)">tt</button>-->
<div>
  <app-table class="d-flex" [colunasTable]="colunasName" [dadosCols]="dadosCols"
             (idLinha)="recebeId_Path($event)"></app-table>
  <!--  <div class="spinner-border" role="status">-->
  <!--    <span class="visually-hidden">Loading...</span>-->
  <!--  </div>-->
  <div class="d-flex align-items-center" *ngIf="spinner">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
</div>


