<app-toolbar></app-toolbar>
<app-crud-toolbar-cad titlePage="Cadastro de Sepultamentos" class="d-flex"></app-crud-toolbar-cad>

<form id="form_CSepultamento" class="form_SGC" autocomplete="off" [formGroup]="form">

    <div class="row mb-1">
        <div class="col-md-2">
            <div class="form-outline">
                <label class="form-label" for="cod_Sepultamento">Codigo</label>
                <input type="text" id="cod_Sepultamento" class="form-control" [(ngModel)]="sepulCodigo" formControlName="sepulCodigo" name="sepulCodigo" readonly="true" />

            </div>
        </div>

    </div>

    <div class="row mb-1">
        <div class="col-md-3">
            <div class="form-outline">
                <label class="form-label" for="name_Pessoa">Pessoa</label>
                <input type="text" id="name_Pessoa" class="form-control" [(ngModel)]="idPessoa" name="sepulFalecido" formControlName="sepulFalecido" oninput="populaCadFalNome()"
                    autocomplete="off" (keyup)="dadosFalecidos()"/>
                <div>
                    <ul style="width: 339px;  list-style: none; position: absolute; background-color: darkgrey;"
                        id="name_fal">
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-outline">
                <label class="form-label" for="cpf_Pessoa">CPF</label>
                <input type="text" id="cpf_Pessoa" class="form-control" [(ngModel)]="sepulCPF" name="sepulCPF" formControlName="sepulCPF" readonly="true" />

            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-3">
            <div class="form-outline">
                <label class="form-label" for="name_Funeraria">Funeraria</label>
                <select id="name_Funeraria" class="form-control"  [(ngModel)]="sepulFuneraria" name="sepulFuneraria" formControlName="sepulFuneraria">
                    <option> </option>
                  <option *ngFor="let funName of funNames">{{funName}}</option>
                </select>

            </div>
        </div>
        <div class="col-md-2">
            <div class="form-outline">
                <label class="form-label" for="date_Sepultamento">Data Sepultamento</label>
                <input type="date" id="date_Sepultamento" class="form-control" [(ngModel)]="sepulData" name="SepulData" formControlName="sepulData"/>


            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-3">
            <div class="form-outline">
                <label class="form-label" for="name_Cemiterio">Cemiterio</label>
                <select id="name_Cemiterio" class="form-control" [(ngModel)]="sepulCemiterio" name="sepulCemiterio" formControlName="sepulCemiterio">
                    <option> </option>
                  <option *ngFor="let cemName of cemNames">{{cemName}}</option>

                </select>

            </div>
        </div>
        <div class="col-md-2">
            <div class="form-outline">
                <label class="form-label" for="date_Falecimento">Falecimento</label>
                <input type="date" id="date_Falecimento" class="form-control" [(ngModel)]="sepulFale" name="sepultFal" formControlName="sepulFale" readonly="true" />


            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-5">
            <div class="form-outline">
                <label class="form-label" for="name_Sepultura">Sepultura</label>
                <input type="text" id="name_Sepultura" class="form-control" [(ngModel)]="sepulSepultura" name="sepulSepultura" formControlName="sepulSepultura"/>

            </div>
        </div>
    </div>

</form>
