<app-toolbar></app-toolbar>
<app-crud-toolbar class="d-flex my-2" titlePage="Pesquisa de Funerarias" routerNovo="../cadfunerarias" (click)="listFun()"></app-crud-toolbar>
<app-filter-visible (FilterE)="receberClick($event)"></app-filter-visible>
<form id="form_FFuneraria" class="form_SGC" *ngIf="filterVisible">
    <div class="row mb-1">
        <div class="col-md-2">
            <div class="form-outline">
                <label class="form-label" for="codigo_Funeraria">Codigo</label>
                <input type="text" id="codigo_Funeraria" class="form-control" />

            </div>
        </div>
    </div>


    <div class="row mb-1">
        <div class="col-md-3">
            <div class="form-outline">
                <label class="form-label" for="nome_Funeraria">Nome</label>
                <input type="text" id="nome_Funeraria" class="form-control" required />

            </div>
        </div>
        <div class="col-md-2">
            <div class="form-outline">
                <label class="form-label" for="cidade_Funeraria">Cidade</label>
                <select id="cidade_Funeraria" class="form-control">
                    <option selected>Escolher</option>
                    <option>Lagoa Santa</option>
                    <option>Pedro Leopoldo</option>
                    <option>Vespasiano</option>
                </select>

            </div>
        </div>
    </div>

</form>
<app-table-funerarias class="d-flex" [colunasTable]="colunasName" [dadosCols]="dadosCols" (idLinha)="recebeIdPatch($event)"></app-table-funerarias>
