<app-toolbar></app-toolbar>
<app-crud-toolbar-cad class="d-flex" titlePage="Configuracoes Gerais"></app-crud-toolbar-cad>
<form action="" class="border-bottom">
    <div class="d-flex flex-column p-2">
        <label for="">Brasao do Municipio</label>
        <input type="file" name="" id="">
    </div>
    <button type="submit" class="btn btn-outline-secondary mx-1"> Enviar</button>
</form>

<form action="" class="border-bottom">
    <div class="d-flex flex-column p-2">
        <label for="">Imagem pagina inicial</label>
        <input type="file" name="" id="">
    </div>
    <button type="submit" class="btn btn-outline-secondary mx-1"> Enviar</button>
</form>