
.icons_Menu {
    font-size: 2rem;
    width: 40px;
    cursor: pointer;
}

.leftBar {
    float: left;
    height: 94vh;
    width: 70px;
}

.leftBar_active {
    float: left;
    height: 94vh;
    width: 220px;

}

.leftBarUl_active{
    align-items: flex-start!important;
    padding-left: 1rem !important;
   
}
.logoSistema{
    width: 70px;
    height: 70px;
    align-self: center;
    
}

.textMenuLeftBar{
    padding-left: 10px;
    cursor: pointer;
}

.logoMunicipioUl{
    justify-content: center;
}

.imgLogoMunicipio{
    width: 65px;
    height: 65px;
}

.leftBar-submenu{
    width: 220px;
    height: 94vh;
    align-items: flex-start;
    float: left;


}
.leftBar-subMenuUl{
    border-bottom:1px solid lightgray ;
    align-items: flex-start;
}

.iconSubMenu{
    font-size: 0.8rem;
}